.header {
  background-color: #02021b;
  color: #fff;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    cursor: pointer;
  }

  &__container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
